version: '3'

services:
  web:
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py test "
    container_name: SportsRoom
    volumes:
      - .:/SportsRoom
    ports:
      - "8001:8001"
