{% extends 'MasterLayout/baseLayout.html' %}

{% block rightbar %}

              <div class ="profImg">     
                    <img  src="/media/{{ userProfile.profile_pic }}" style="width:50px" alt="{{ user }}"/>
                    {% if user.is_authenticated %}
                    </div> 
                    <div class="dropdown">
                    <!-- <a class="nav-link" href="{% url 'login:logout' %}">Logout</a>
                      {% else %}
                    <a class="nav-link" href="{% url 'login:user_login' %}">Login</a>
                      {% endif %}
   -->
                    
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color: white"></button>
                    <!-- <span class="caret"></span></button> -->
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                      <li><a class="nav-link" href="{% url 'login:logout' %}">Logout</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% else %}
                      <li><a class="nav-link" href="{% url 'login:user_login' %}">Login</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% endif %}
                    </ul>
</div>
            {%  endblock%}

{% block body %}

  <div class="container">
    <form action='.' method="POST">{% csrf_token %}
    	<h3> Item Deleted!!<h3>
    	<div>
    		
            <a href="{% url 'sportsEquipment:viewEquipList' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" > OK</a>

    	</div>
      
  </form>
  </div>

{% endblock %}



<!-- <input onClick="delete(this.id)" id={{ object.eqpId }} role="button" value='Yes'/> 
<input   id='btnDelete'></input>
<a href= '../..'>Cancel</a> -->