{% extends 'MasterLayout/baseLayout.html' %}

{% block rightbar %}

              <div class ="profImg">     
                    <img  src="/media/{{ userProfile.profile_pic }}" style="width:50px" alt="{{ user }}"/>
                    {% if user.is_authenticated %}
                    </div> 
                    <div class="dropdown">
                    <!-- <a class="nav-link" href="{% url 'login:logout' %}">Logout</a>
                      {% else %}
                    <a class="nav-link" href="{% url 'login:user_login' %}">Login</a>
                      {% endif %}
   -->
                    
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color: white"></button>
                    <!-- <span class="caret"></span></button> -->
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                      <li><a class="nav-link" href="{% url 'login:logout' %}">Logout</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% else %}
                      <li><a class="nav-link" href="{% url 'login:user_login' %}">Login</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% endif %}
                    </ul>
</div>
            {%  endblock%}

{% block body %}

  <div class="container" style="font-size: 14px">
    <br>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Request No</th>
        <th>Equipment</th>
        <th>Quantity</th>
        <th>Username</th>
        <th>Date of Request</th>

        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for pendingRequest in lstPendingRequest %}

      <tr>
        <td>{{ pendingRequest.reqId }}
        <td>{{ pendingRequest.eqp.eqpName }}</td>
        <td>{{ pendingRequest.quantity }} </td>
        <td>{{ pendingRequest.user.username }}</td>
        <td>{{ pendingRequest.dtOfRequest.date }}</td>
        <td>
          <!-- {% if availability %}
            <div>availability</div>
          {% else %} -->
          <form>
            {% csrf_token %}
             <a onClick="checkAvailability(this.id)" id={{ pendingRequest.reqId }} role="button" aria-pressed="true"><input value="Check Availability" class="btn btn-primary" id={{ pendingRequest.reqId }} readonly style="font-size: 14px"></input></a>
          </form>   
          <!-- {% endif %} -->
        </td>
        <td>
            <a href="{% url 'sportsEquipment:processRequest' %}?reqId={{ pendingRequest.reqId }}&isAcceptRequest=1" class="btn btn-success btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Approve</a>
            <a href="{% url 'sportsEquipment:processRequest' %}?reqId={{ pendingRequest.reqId }}&isAcceptRequest=0" class="btn btn-danger btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Reject</a>
        </td>


      </tr>

      {% endfor %}
    </tbody>
  </table>


  </div>

{% endblock %}