{% extends 'MasterLayout/baseLayout.html' %}

{% block rightbar %}

              <div class ="profImg">     
                    <img  src="/media/{{ userProfile.profile_pic }}" style="width:50px" alt="{{ user }}"/>
                    {% if user.is_authenticated %}
                    </div> 
                    <div class="dropdown">
                    <!-- <a class="nav-link" href="{% url 'login:logout' %}">Logout</a>
                      {% else %}
                    <a class="nav-link" href="{% url 'login:user_login' %}">Login</a>
                      {% endif %}
   -->
                    
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color: white"></button>
                    <!-- <span class="caret"></span></button> -->
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                      <li><a class="nav-link" href="{% url 'login:logout' %}">Logout</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% else %}
                      <li><a class="nav-link" href="{% url 'login:user_login' %}">Login</a></li>
                      <li><a class="nav-link" href="#">Hello, {{ user.username }}</a></li>
                    {% endif %}
                    </ul>
</div>
            {%  endblock%}

{% block body %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>


  <div class="container" style="font-size: 14px">
    <br>
    <h2>Search Request</h2>
    <p>Type key words in the input field to search the List</p>  
    <input id="myInput" type="text" placeholder="Search..">
    <br><br>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Request No</th>
        <th>Equipment</th>
        <th>Quantity</th>
        <th>Username</th>
        <th>Date of Request</th>
        <th>Date of Approval</th>
        <th>Expected Return Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody id="myTable">

      {% for processedRequest in lstProcessedRequest %}

      <tr>
        <td>{{ processedRequest.reqId }}
        <td>{{ processedRequest.eqp.eqpName }}</td>
        <td>{{ processedRequest.quantity }} </td>
        <td>{{ processedRequest.user.username }}</td>
        <td>{{ processedRequest.dtOfRequest.date }}</td>
        <td>{{ processedRequest.dtAvailed.date }}</td>
        <td>{{ processedRequest.dtOfExpRet.date }}</td>

        <td>
            {% if processedRequest.reqStatus == 1 %}
                <a href="#" class="btn btn-success btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Approved </a>
                <a href="{% url 'sportsEquipment:processReturnRequest' %}?reqId={{ processedRequest.reqId }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Return</a>

            {% elif processedRequest.reqStatus == 2%}
                <a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Rejected </a>

            {% else %}
                <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true" style="font-size: 14px"> Returned </a>
            {% endif %}
        </td>


      </tr>

      {% endfor %}
    </tbody>
  </table>


  </div>

{% endblock %}