<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <img src="/media/profile_pics/IIIT-B_logo copy.jpg" style="max-height:50px;border-radius: 50%;"/>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
          <li class="nav-item active"><a class="nav-link" href="/" style="font-size:16px">SportsRoom<br>IIITB<span class="sr-only">(current)</span></a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li> -->
          <li class="nav-item active"><a class="nav-link" href="{% url 'login:register' %}" style="font-size:16px">Register</a></li>

          {% if user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'login:logout' %}" style="font-size:16px">Logout</a></li>
          {% else %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'login:user_login' %}" style="font-size:16px">Login</a></li>
          {% endif %}
          
        </ul>
      </div>
      {% if user.is_authenticated %}
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">Hello, {{ user.username }}</li>
            <li><img src="{{ user.profile_pic }}" alt="img"></li>
          </ul>
        </div>
      {% endif %}
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
